<style>
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  :root {
    --background: #dce0de;
    --text: #333436;
    --accent1: #8d4643;
    --navlink: #484b08;
    --link: #175d72;
    --visited: #4b5d63;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    font-family: monospace;
    display: flex;
    justify-content: center;
  }

  .body-wrapper {
    height: 100%;
    width: 90vw;
    max-width: 800px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding: 1rem;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  h1 a:link,
  h1 a:visited {
    text-decoration: none;
    color: unset;
  }

  h2,
  h3,
  h4,
  .summary-title {
    color: var(--accent1);
  }

  hr {
    background-color: var(--navlink);
    height: 2px;
    border: none;
  }

  a:link {
    color: var(--link);
  }

  a:visited {
    color: var(--visited);
  }

  nav a:link,
  nav a:visited {
    color: var(--navlink);
  }

  nav ul {
    list-style: none;
    padding-left: unset;
    display: flex;
  }

  nav li {
    margin-right: 1rem;
  }


  .pagination,
  .copyright,
  .taglist,
  .date {
    font-size: .8rem;
  }

  .summaries {
    list-style: none;
    padding-left: unset;
  }

  .summary {
    margin: 1rem 0;
  }

  .taglist {
    display: flex;
  }

  .taglist ul {
    list-style: none;
    padding-left: unset;
    margin: 0 1rem;
    display: flex;
  }

  .taglist li {
    margin-right: 1rem;
  }
</style>